/* Styles de base pour structurer le contenu de la page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header au style rétro des années 70 */
header {
    background-color: #FF8C42;
    padding: 20px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
    list-style-type: none; /* Enlève les puces */
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: auto;
    flex-wrap: nowrap;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFFACD;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #8B4513;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    margin: 0;
}

nav a:hover {
    background-color: #FFA07A;
    transform: scale(1.05);
}

nav a:active {
    background-color: #FF6347;
    transform: scale(0.95);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.miniatures-section, .peintures-section {
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-gallery {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.project-gallery img {
    width: calc(33.333% - 10px);
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-links a {
    color: #00bcd4;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #fff;
}

.social-media a img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    transition: transform 0.3s;
}

.social-media a img:hover {
    transform: scale(1.1);
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    z-index: 1000;
}

#topBtn:hover {
    background-color: #0097a7;
}
